body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
    background-color: white;
    background-size: cover;
    width: 1200px;
}
.sel h1 {
    margin: 0;
    font-weight: 400;
    padding-top: 60px;
    font-size: 250%;
    color: white;
    
    text-align: center;
}
.sel {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: rgb(1, 1, 1, 0.85);
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10px;
}
.sel li {
    display: inline-block; /* NEW */
}
.sel a{
    font-weight: 100;
    color: white;
    border: none;
     /* aspect must apply to innermost */
    padding-left: 5px;
    padding-right: 5px;
}
.sel button {
    font-weight: 100;
    padding: 0;
    border: none;
    background: none;
    text-decoration: underline;
    font-size: 95%;
    font-family: 'IBM Plex Mono', monospace;
    color: white;

}
.sel img{
    max-width: 14px;
}
.sel hr{
    height: 1px;
    background-color: rgba(255, 255, 255, 0.076);
    border-color: rgba(0, 0, 0, 0.0);
    
}

canvas {
    margin-top: -470px;
    width: 710;
    height: 400;
    margin-left: 20%;
}
.main h1 {
    font-style: italic;
    margin-left: 20%;
    font-weight: 200;
}
.main .da {
    text-indent: 0;
    margin-left: 20%;
    font-weight: 100;
    margin-top: 20px;
    font-size: 15px;
}
.main p {
    margin-left: 20%;
    margin-right: 20%;
    font-weight: 100;
    font-size: 12px;
    text-indent: 40px;
}
.main .bigtab {
    text-indent: 0;
    margin-left: 25%;
    font-weight: 200;
}
.main a {
    color: blue;
}
#crossline {
    margin-right: 20%;
    margin-left: 28%;
    margin-top: -40px;
}
#cont {
    text-indent: 0;
}
mark {
    padding: 2px;
    background-color: rgb(1, 1, 1, 0.85);
    color: white;
}

footer {
    text-align: center;
    color:rgba(150, 150, 150);
    margin-top: 450px;
    padding: 0;
    font-size: 10px;
}
footer p {
    margin-bottom: 0;
}
footer a {
    margin-top: -8px;
}
  

  
